@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        height: 100%;
        --color-primary: hsl(281.853, 100%, 68%);
    }

    /* These heights are only there so the example can be centered vertically. */
    body,
    #root {
        height: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: "Arimo", serif;
}

.custom-font-family{
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;
    font-style: normal;
}